# Boolean
- The return values are True and False
- You have n number of functions and you can use it by variable_name.(tab)

In [16]:
print(my_str.isalpha())

True

In [1]:
my_str = 'Sathyaprakash'

In [17]:
print(my_str.isalnum())
print(my_str.isalpha())
print(my_str.isascii())
print(my_str.isdecimal())
print(my_str.isidentifier())
print(my_str.islower())
print(my_str.isnumeric())
print(my_str.isprintable())
print(my_str.isspace())
print(my_str.istitle())
print(my_str.isupper())

True
True
True
False
True
False
False
True
False
True
False

# Boolean and Logical Operators

In [18]:
True and True

True

In [19]:
True and False

False

In [20]:
True or True

True

In [21]:
True or False

True

In [22]:
True and not True

False

# Lists
- Lists are enclosed in square bracket[]
- Mutable and ordered sequence of elements
- Each element in the list called as Item

- add the values to list using append method
- can retrieve the values based on indexing concept

In [23]:
type([])

list

In [24]:
lst = []

In [25]:
type(lst)

list

In [27]:
lst_values = list()

In [28]:
lst_values= ['One','Two',3,4,5]

In [29]:
print(lst_values)

['One', 'Two', 3, 4, 5]

In [30]:
lst_values

['One', 'Two', 3, 4, 5]

In [31]:
lst_values[1]

'Two'

In [32]:
len(lst_values)

5

# Adding new values to the List

- append 
- insert

In [33]:
lst_values.append('Sathya')

In [34]:
lst_values

['One', 'Two', 3, 4, 5, 'Sathya']

In [37]:
lst_values.append(['Sathya','Prakash']) # This step has created the nested list

In [40]:
lst_values

['One', 'Two', 3, 4, 5, 'Sathya', ['Sathya', 'Prakash']]

## Adding values on specific index

In [41]:
lst_values.insert(1,'Three')

In [42]:
lst_values

['One', 'Three', 'Two', 3, 4, 5, 'Sathya', ['Sathya', 'Prakash']]

## Adding multiple values in the list using Extend method

In [43]:
lst_values.extend([6,7,8])

In [44]:
lst_values

['One', 'Three', 'Two', 3, 4, 5, 'Sathya', ['Sathya', 'Prakash'], 6, 7, 8]

## For deleting the value in the list use pop method

In [45]:
lst_values.pop(7)

['Sathya', 'Prakash']

In [46]:
lst_values

['One', 'Three', 'Two', 3, 4, 5, 'Sathya', 6, 7, 8]

In [48]:
lst_values.pop(1)

'Three'

In [49]:
lst_values.pop(5)

'Sathya'

In [50]:
lst_values

['One', 'Two', 3, 4, 5, 6, 7, 8]