# Python Practice
## Numbers

In [1]:
1+1

2

In [2]:
1-10

-9

In [3]:
3*3

9

In [4]:
3**3

27

In [5]:
3*'3'

'333'

In [7]:
'str'+'str'

'strstr'

## Checking Datatypes

In [8]:
type(1)

int

In [9]:
type(1.1)

float

In [10]:
type('Text')

str

In [11]:
type(True)

bool

# Strings

- It can be enclosed with single quotes or double quotes
- For Multi line comments we can use tripple quotes

In [12]:
'Sathya'

'Sathya'

In [13]:
"Sathya"

'Sathya'

In [14]:
'''
This is an example for Multi line comments
you can enter multiple lines here
'''

'\nThis is an example for Multi line comments\nyou can enter multiple lines here\n'


# Variable Assignment

## Syntax
variable_name = values

- Variables are mutable and we can assign any value to it

In [16]:
a=10

In [17]:
print(a)

10

In [18]:
type(a)

int

## Reassigning the Variable
- To see the method(function) description press shift+tab

In [19]:
a='Sathya'

In [20]:
print(a)

Sathya

In [21]:
type(a)

str

In [22]:
a=5
b=10

In [23]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

15
-5
50
0.5
5
9765625

# Various ways of printing

In [24]:
fname = 'Sathyaprakash'
lname = 'Mani'

In [25]:
print(fname+' '+lname)

Sathyaprakash Mani

In [28]:
print('My first name is {} and my last name is {}'.format(fname,lname))

My first name is Sathyaprakash and my last name is Mani

In [29]:
print('My first name is {first} and my last name is {last}'.format(last=lname,first=fname))

My first name is Sathyaprakash and my last name is Mani