# Sets

- unordered collection datatype that is iterable, mutable and no duplicate elements
- sets are created with {} or set()
- sets doesn't support indexing

In [1]:
set_var = {"Test1","Test2","Test3"}

In [2]:
type(set_var)

set

In [3]:
set_var.add("Test4")

In [4]:
set_var

{'Test1', 'Test2', 'Test3', 'Test4'}

In [8]:
set_var1

{'Test1', 'Test2', 'Test3', 'Test4', 'Test5'}

In [9]:
set_var.difference(set_var1)

set()

In [14]:
set_var.remove("Test5")

In [15]:
set_var

{'Test2', 'Test3', 'Test4'}

In [16]:
set_var.add("Test1")

In [17]:
set_var

{'Test1', 'Test2', 'Test3', 'Test4'}

# Dictionaries

- unordered, mutable and indexed
- values are stored as Key:Value pair
- to define the dictionaries use {} or dict
- If you are using the old key name, then the values will be overridden

In [18]:
my_dict = {"Key1":"Value1","Key2":"Value2","Key3":"Value3","Key4":"Value4"}

In [19]:
my_dict

{'Key1': 'Value1', 'Key2': 'Value2', 'Key3': 'Value3', 'Key4': 'Value4'}

## To print only the keys

In [20]:
for i in my_dict:
    print(i)

Key1
Key2
Key3
Key4

## To print only the values

In [22]:
for i in my_dict.values():
    print(i)

Value1
Value2
Value3
Value4

## To print the Keys and Values

In [25]:
for i in my_dict.items():
    print(i)

('Key1', 'Value1')
('Key2', 'Value2')
('Key3', 'Value3')
('Key4', 'Value4')

## Adding items to dictionaries

In [29]:
my_dict["Key6"]="Value6"

In [30]:
my_dict

{'Key1': 'Value1',
 'Key2': 'Value2',
 'Key3': 'Value3',
 'Key4': 'Value4',
 'Key5': 'Value5',
 'Key6': 'Value6'}

## Nested Dictionaries

In [35]:
my_car1 = {"Maruti":2017}
my_car2 = {"Hundai":2018}
my_car3 = {"Toyota":2019}

car_type = {"car1":my_car1, "car2":my_car2, "car3":my_car3}

In [36]:
car_type

{'car1': {'Maruti': 2017}, 'car2': {'Hundai': 2018}, 'car3': {'Toyota': 2019}}

In [38]:
print(car_type['car1'])

{'Maruti': 2017}

In [39]:
print(car_type["car1"]["Maruti"])

2017

In [42]:
car_type ["car4"]={"Mercedes":2020}

In [43]:
car_type

{'car1': {'Maruti': 2017},
 'car2': {'Hundai': 2018},
 'car3': {'Toyota': 2019},
 'car4': {'Mercedes': 2020}}

# Tuples

- Tuples are not mutable
- Values cannot be changed, but you can change the whole list
- are defined with ()

In [47]:
my_tuple=tuple()

In [49]:
my_tuple = ("Hello","Good","Morning")

In [50]:
my_tuple[0]

'Hello'

In [54]:
my_tuple.count('Morning')

1